<!--
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
}

.wrapper {
    margin: 0 auto 0 60;
    width: 1000px;
    background-color: red;
}

nav {
    widows: 100%;
    height: 100px;
    background: #fff;
    
}

h1 {
    font-family: cursive;
    font-size: 22px;
    font-style: italic;
    font-weight: 300;
    text-align: left;
    text-decoration: underline;
    text-indent: 30px;
    text-transform: capitalize;
    color: #4D0FF2;
    letter-spacing: 5px;
    
}

p {
    line-height: 40px;
    font-size: 22px;
    text-transform: lowercase;
}

paragraf {
    font-size: 50px;
    line-height: 62px;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

div {
    width: 300px;
    height: 200px;
    background-color: rebeccapurple;
}

ul {
    margin-left: 50px;
}

ul li {
    list-style: none;
    display: inline-block;
    float: left;
    line-height: 100px;
}

ul li a{
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-family: sans-serif;
    color: #1e1e1e;
    padding: 0 20px;
}

ul li a:hover{
    color: rebeccapurple;
    
}
-->